# ignore any file generated under ebin dirs
ebin

# igone beams generated anywhere
*.beam

# ignore dependencies folder
deps

#docs
doc
!doc/overview.edoc

# ignore sasl_log
sasl_log

#ignore autodeps
*.autodeps

# ignore any compiled c-code under system architecture directory
x86_64-unknown-linux-gnu

#ignore emacs bkp + autostore
*~
*\#
*/.#*
erl_crash.dump
#ignore vim swp
*.swp

#ignore generated libraries
*/leveldb_nif.so

# ignore .plts (Dialyzer PLT directory)
.plts

# ignore common test logdir
test/ct/log
